extends layouts/main

include mixins/assets.jade
include mixins/forms.jade

block content
  section(ng-controller='SignupCtrl as signup')
    h1= title
    p Sign up for a new account
    p Already have an account? #[a(href='/login') Login] instead.
    +form()(ng-submit!='form.$valid && signup.submit(data)')
      +email()(
        required
        ng-model='data.email'
      )
      +password()(
        required
        minlength=8
        ng-model='data.password'
      )
      +confirmPassword()(
        required
        ng-model='data.confirmPassword'
        confirm-password='data.password'
      )
      +submit('Sign up')
